// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#messages{
  overflow: auto;
  height: 500px;
  text-align: center;
  border: 1px solid black;
}